.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px; /* Space between rows and window */
}
  
.row > div { /* selects the children of "row" */
    max-width: 25%; /* Set maximum width for each fourth */
    padding: 16px; /* Add spacing between images */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
  
.row img {
    width: 100%; /* Make the images fill their container */
    height: auto; /* Maintain aspect ratio */
    border-radius:3px;
    padding: 20px 0; /* Adds space between each row (top/bottom) */
}

.main {
    background-color: rgb(255, 202, 192);
}


.introduction { 
    padding: 50px 50px 0 50px;
}
 
  /* Style for the modal */
  .w3-modal {
    display: none; /* Does not display by default */
    position: fixed; /* Fixes picture in the middle of screen */
    top: 0; /* Modal begins at top of page */
    width: 100%; /* Modal cover 100% of screen */
    height: 100%;
    background-color: rgba(247, 226, 222, 0.9);
    padding: 50px 0 0 0; /* Add padding at the top */
    box-sizing: border-box; /* Include padding and border in the element's total width and height (even for smaller screens) */
  }
  
  .w3-modal-content {
    max-width: 90%; /* Set maximum width for the modal content */
    max-height: 90%; /* Set maximum height for the modal content */
    overflow: auto; /* Enable scrolling if content exceeds the modal's dimensions */
    margin: auto; 
    max-width: 700px;
  }

  .w3-modal img {
    max-width: 100%; /* Ensure the image doesn't exceed 100% of its container width */
    max-height: 80%; /* Ensure the image doesn't exceed 100% of its container height */
    display: block;
    margin: auto; /* Center the image horizontally */
    position: absolute; /* Position the image absolutely within its container */
    top: 0; /* Align the image to the top */
    left: 0; /* Align the image to the left */
    right: 0; /* Align the image to the right */
    bottom: 0; /* Align the image to the bottom */
  }

  /* Responsive image inside modal */
  .w3-modal-content .w3-image {
    max-width: 100%;
  }

  #imageText {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #323232;
    font-style: italic;
    font-weight: bold;
}

