.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .third {
    flex: 0 0 25%; /* Set each third to take up 25% of the row */
    max-width: 25%; /* Set maximum width for each third */
    padding: 8px; /* Add some spacing between images */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .third img {
    width: 100%; /* Make the images fill their container */
    height: auto; /* Maintain aspect ratio */
    border-radius:3px;
  }

  .main{
    background-color: rgb(255, 202, 192);
  }
 